#button-start, #button-stop, #button-reseat{
    border-radius: 10px;
}
#input-style{
    background-color:azure;
}
#input-style:hover{
    opacity: 0.40;
}
#block-style, #button-submit{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
}
#button-submit{
    border: 2px solid black;
    background-color: aquamarine;
}
#button-submit:active{
    opacity: 0.50;
}
#block-style2{
    margin-left: 150px;
    margin-top: 20px;
}
#transition{
    transition: all 1s;
}